<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>


<div class="container">


    <form method = "post" th:action="@{/events/edit}"  >
        <th:block>
            <div class="form-group">
                <label>Name
                    <input th:field="${event.name}" class="form-control">
                </label>
                <!--                <p class="error" th:errors="${event.name}"></p>-->
            </div>
            <div class="form-group">
                <label>Description
                    <input th:field="${event.eventDetails.description}" class="form-control">
                </label>
                <!--                <p class="error" th:errors="${event.eventDetails.description}"></p>-->
            </div>
            <div class="form-group">
                <label>Contact Email
                    <input th:field="${event.eventDetails.contactEmail}" class="form-control">
                </label>
                <!--                <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>-->
            </div>
            <div class="form-group">
                <label>Location
                    <input th:field="${event.location}" class="form-control">
                </label>
                <!--                <p class="error" th:errors="${event.location}"></p>-->
            </div>
            <div class="form-group">
                <label>Number of People
                    <!--            <select th:field="${event.noOfPeople}" class="form-control">-->
                    <!--                <option value="1">1</option>-->
                    <!--                <option value="2">2</option>-->
                    <!--                <option value="3">3</option>-->
                    <!--                <option value="4">4</option>-->
                    <!--                <option value="5">5</option>-->
                    <!--            </select>-->
                    <input type="number" th:field="${event.noOfPeople}" class="form-control">
                </label>
                <!--                <p class="error" th:errors="${event.noOfPeople}"></p>-->
            </div>
            <div class="form-group">
                <label>Category
                    <select th:field="${event.eventCategory}">
                        <option th:each="eventCategory : ${categories}"
                                th:value="${eventCategory.id}"
                                th:text="${eventCategory.name}">
                        </option>
                    </select>
                </label>
                <!--                <p class="error" th:errors="${event.eventCategory}"></p>-->
            </div>
            <div class="form-group">

                <input type="hidden" th:field="${event.id}" class="form-control">

                <!--                <p class="error" th:errors="${event.location}"></p>-->
            </div>
        </th:block>

        <div class="form-group">
            <input type="submit" value="Update Event" class="btn btn-success">
        </div>
    </form>
    <hr>
    <a th:href="@{/}">Return to Home</a>

</div>

</body>
</html>