<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-stripped" >
    <thead>
    <tr>
        <th>Event Name</th>
    </tr>
    </thead>
    <tr th:each="event:${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
<!--        <td><a th:href="'/tags/detail?tagId=' + ${tag.id}" th:text="${tag.name}"></a></td>-->
    </tr>
</table>
</body>
</html>